spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 'Fifamanager1'
    url: jdbc:mysql://localhost:3306/homerestateDB?createDatabaseIfNotExist=true
    username: root

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  mvc:
    hiddenmethod:
      filter:
        enabled: true
    throw-exception-if-no-handler-found: true
  servlet:
    multipart:
     max-file-size: 5MB
     max-request-size: 5MB
     enabled: true
server:
  port: 8080

cloudinary:
  cloud-name: cisco-computers
  api-key: 652711593828917
  api-secret: WS4HGdsZXJYGlHE-bOFpGs3LMlo