<!DOCTYPE html>
<html lang="en" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>Homer Estates</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="csrf-token" content="WrEHJ7IbU5uysL9GancrCEzVWKG6RDJBPxL4sdUW">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--Favicons -->
        <link rel="icon" href="https://d2dlxvmcs24r4u.cloudfront.net/modules/agentwebsites/favicon.ico">
        <link rel="icon" type="image/png" href="https://d2dlxvmcs24r4u.cloudfront.net/modules/agentwebsites/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://d2dlxvmcs24r4u.cloudfront.net/modules/agentwebsites/favicon-16x16.png" sizes="16x16">
        <!--CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome-all.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/css-1.css">
        <meta name="description" content="Find your dream house in Bulgaria! Unique properties and Villas!">
        <script>
                 window.markerIcon = 'https://d2dlxvmcs24r4u.cloudfront.net/modules/agentwebsites/template7/img/marker-small.png';
        </script>
</head>
<body>
<header th:fragment="navbar"
        id="ts-header" class="fixed-top">
    <nav id="ts-secondary-navigation" class="navbar p-0">
        <div class="container-fluid justify-content-end justify-content-sm-between" style="height: 34px">
            <div class="navbar-nav d-none d-sm-block">
                                <span class="mr-4">
                    <i class="fa fa-phone-square mr-1"></i>
                   00359895777719
                </span>
                <a href="mailto:k.terziew@abv.bg">
                    <i class="fa fa-envelope mr-1"></i>
                    k.terziew@abv.bg
                </a>
            </div>
            <div class="navbar-nav flex-row" style="padding:0;">
                <form th:if="${isHome}" accept-charset="UTF-8" id="currencyForm" class="custom-top-form">
                    <input name="_token" type="hidden" value="WrEHJ7IbU5uysL9GancrCEzVWKG6RDJBPxL4sdUW">
                    <select autocomplete="off" name="currency" id="currency" class="custom-select bg-transparent ts-text-small border-left ts-selected">
                        <option value="1" selected="">
                            € EUR
                        </option>
                        <option value="1.1926">
                            $ USD
                        </option>
                        <option value="0.8560">
                            £ GBP
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
    <nav id="ts-primary-navigation" class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid" style="padding:0;">
            <a class="navbar-brand" href="/" style="width: 200px">
                <span class="logo__holder">
                    <img src="/img/logo.jpg" alt="">
                </span>
            </a>
            <span  sec:authorize="${isAuthenticated()}" th:text="|WELCOME ${#authentication.name}|"
                  style="font-size: x-large" ></span>
            <button class="navbar-toggler"
                    id="toggler"
                    type="button"
                    data-toggle="collapse"
                    data-toggler="collapse"
                    data-target="#navbarPrimary"
                    aria-controls="navbarPrimary"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarPrimary">
                <ul class="navbar-nav">
                    <li class="nav-item" data-type="home">
                        <a class="nav-link mr-2" href="/"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="nav-item" data-type="sale">
                        <a class="nav-link mr-2" th:href="@{/sales/all}" style="font-size: large">Sale</a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="nav-item" data-type="rent">
                        <a class="nav-link mr-2" th:href="@{/rents/all}" style="font-size: large">Rent</a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="nav-item" data-type="addOffer">
                        <a class="nav-link mr-2" href="/offers/add" style="font-size: large">Add offer</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" data-type="admin">
                        <a class="nav-link mr-2" href="/roles/add" style="font-size: large">Admin</a>
                    </li>
                    <li class="nav-item" data-type="entrustmentEnquiry">
                        <a class="nav-link mr-2" href="/about" style="font-size: large">About us</a>
                    </li>
                    <li class="nav-item" data-type="contactEnquiry">
                        <a class="nav-link mr-2" href="/contact" style="font-size: large">Contacts</a>
                    </li>
                    <li sec:authorize="${!isAuthenticated()}" class="nav-item" data-type="login">
                        <a class="nav-link mr-2" href="/users/login" style="font-size: large">Login</a>
                    </li>
                    <li sec:authorize="${!isAuthenticated()}" class="nav-item" data-type="register">
                        <a class="nav-link mr-2" href="/users/register" style="font-size: large">Register</a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="btn-group" data-type="logout">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-primary ts-btn-arrow btn-lg float-right">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script th:src="@{/js/navbar.js}"></script>
</header>
<footer th:fragment="footer"
        id="ts-footer">

<!--MAIN FOOTER CONTENT
=============================================================================================================-->
<section id="ts-footer-main" style="padding-bottom: 0">
    <div class="container-fluid">
        <div class="row g-2" style="background-color: #e9f9fd">
            <!--Brand and description-->
            <div class="col-md-8">
                <a href="https://www.homerestate.gr/en" class="brand"><img src="/img/logo.jpg" alt=""></a>
                <div class="pageContents mb-4">
                    <p>The&nbsp;<strong>HOMER ESTATE</strong>&nbsp;agency was created to offer high standard brokerage services with reliability and discretion. Our primary concern is to serve the needs of our clients as to their best interests and provide property management with professionalism. We know that the memory of the mind is equipped with a lot of emotion, intelligence and coherence, and the ability to use it. So we set out to provide our high-quality consulting services at the market. We are not one of those agency companies, that are trying to break free, without looking at the quality of the tool. And wee are not from the modern companies, which are called "packing" to sell. Neither me nor the agents are taking the time indiscriminately to introduce new technologies, such as the means to save lives.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!--Contact Info-->
            <div class="col-md-4">
                <h4>Contact</h4>
                <address class="">
                    <ul class="t7-footer-address" style="padding-top:.65rem;">
                        <li><i class="fa fa-phone" aria-hidden="true"></i> 00359074780831</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> 00359895777719</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 218 Mladost 2, 1799, Sofia</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:k.terziew@abv.bg">k.terziew@abv.bg</a></li>
                    </ul>
                </address>
            </div>

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end ts-footer-main-->

<!--SECONDARY FOOTER CONTENT
=============================================================================================================-->
<section id="ts-footer-secondary">
    <div class="container">
        <!--Copyright-->
        <div class="ts-copyright">
            (C) 2021 HOMER ESTATE - Powered by <a href="https://www.runningwithscissors.com" target="_blank">Little white dude 2021</a> </div>
        <!--Social Icons-->
        <div class="ts-footer-nav">
            <nav class="nav">
                <a href="https://www.facebook.com/kostadin.terziev.58/" class="nav-link ts-opacity__50">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </nav>
        </div>
        <!--end ts-footer-nav-->
    </div>
    <!--end container-->
</section>
<!--end ts-footer-secondary-->
</footer>
</body>
</html>