
.carousell__image{
    width: auto;
    height: 290px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.25rem;

}

.carousell__track-container{
    background: white;
    height: 100%;
    position: relative;
}

.carousell__track{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
    box-sizing: content-box;
    touch-action: none;
}

.carousell__slide{
    top: 0;
    bottom: 0;
    width: auto;
    -webkit-box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display: block;
    flex-shrink: 0;
    transition-property: transform;
}

.carousell__nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 12px;
    cursor: pointer;
}

.carousel__indicator.current-dot{
    background: rgba(0,0,0,.75);
}
