<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment::head}">
    <title>About us page</title>
</head>
<body>
<header th:replace="~{fragments/fragment::navbar}">
</header>
<main id="ts-main" style="margin-top: 116px;">
    <div class="row" style="height:auto">
        <div class="splitPage">
            <div class="splitPage__column left" style="background-image:url('/img/about-US.jpg');
             background-size: cover;">
                <div class="splitPage__column__inner">
                   <section id="page-title" class="page-title" style="height: auto">
                    <div style="margin: 0; width: 100%; height: 100%; display:table">
                        <h1 class="text-center text-light"
                            style="display:table-cell;
                            vertical-align: middle;
                            font-size: 64px;
                            -webkit-text-fill-color: #f4f4f4;
                            width: 100%;">About us</h1>
                    </div>
                </section>
            </div>
        </div>
        <div class="splitPage__column right" style="padding-top:0;">
            <div class="splitPage__column__inner">
            <section id="info" style="margin-bottom: 1.4rem; margin-left: 20px">
                <h3 class="border-bottom">About our company</h3>
                <!--end container-->
            </section>
            <section id="contact-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <p>The <strong>HOMER ESTATE</strong> agency was created to offer high standard brokerage services with reliability and discretion. Our primary concern is to serve the needs of our clients as to their best interests and provide property management with professionalism.</p>
                            <p>The philosophy of <strong>HOMER ESTATE</strong> is to build relationships of trust with its customers, to offer excellent advice and to ensure a valid and effective agreement for each clients' properties. Our partners are honest people and provide the best advise in opportunities whether you want to buy, sell or rent your property with the only purpose of creating surplus value in each case.<br><br>Wechat: HomerEstateBG</p>
                            <hr>
                            <p>&nbsp;</p>
                            <p><strong><span style="color: #a6a827;">GOLDEN</span> <span style="color: #a6a827;">VISA</span> <span style="color: #a6a827;">PROPERTIES</span></strong></p>
                            <p><strong>Why Bulgaria?</strong><br>In Bulgaria, a new economy is in the making.
                                Investment opportunities are abundant and attractive, in a wide variety of sectors.
                                Bulgaria’s massive reform efforts are opening new investment frontiers that reward
                                both first movers and established players.</p>
                            <p>The next decade is set to see sustained growth in tourism, ICT, energy, environmental sciences,
                                food, beverage and agriculture, logistics, and life sciences. Bulgaria’s exceptional
                                human capital, advanced infrastructure, geostrategic position, and potential
                                for economic expansion are attracting investor interest from around&nbsp; the world.
                                And Bulgaria’s newly designed investment framework supports the creation of new businesses,
                                new synergies and new partnerships.</p>
                            <p>An outward-looking economy that is focused on long-term growth means that investors
                                can look forward to highly favorable returns. As a member of the European Union,
                                Bulgaria continues to be the economic hub of Southeast Europe,
                                an ideal gateway to the Middle East, Western Europe, and North Africa,
                                and an emerging logistics hub for the entire region.</p>
                            <p>The Bulgarian government has taken a proactive role in charting a determined course
                                for Greece that is friendly to investment, promotes growth, and welcomes new business.
                                Welcome to a new economy. Welcome to a new Bulgaria.</p>
                            <p><strong><br>Living in Bulgaria</strong><br>Please find an overview on Bulgaria
                                and discover information on lifestyle, culture, archaeological sites, museums and Greek
                                gastronomy. Discover how living in Bulgaria is one of the most attractive choices you can make.
                                Learn more about new legislation on long term residence permits as well as visa information.</p>
                            <p><a title="Golden VIsa Greece" href="https://partner-files.spitogatos.gr/11001/file/resident-permits-AUG16_EN_WEB%20(1).pdf" target="_blank">Learn more about Golden Visa</a></p>
                            <p><iframe src="//www.youtube.com/embed/DSSI0hqDa28" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
                            <p>&nbsp;</p>
                        </div>
                        <!--end col-md-8-->
                        <div class="col-md-4">
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                   </div>
                </section>
             </div>
           </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/fragment::footer}">
</footer>
</body>
</html>