<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment::head}">
    <title>Add Offer page</title>
<body>
<header th:replace="~{fragments/fragment::navbar}">
</header>
<main id="ts-main" style="margin-top: 116px;">
    <div class="splitPage">
        <div class="splitPage__column left" style="height:auto; background-image:url('/img/add-offer.jpg')">
            <div class="splitPage__column__inner">
                <section id="page-title" class="page-title">
                    <div class="ts-title">
                        <h1 class="text-center text-dark" style="font-size: 64px;
                            -webkit-text-fill-color: #f4f4f4;
                            width: 100%;">Add Offer</h1>
                    </div>
                </section>
            </div>
        </div>
        <div class="splitPage__column right" style="padding-top:0;">
            <div class="splitPage__column__inner" style="padding-bottom:0;">
                <section id="submit-form" style="margin-bottom:0">
                    <form method="POST" th:action="@{/offers/add}"
                         th:object="${offerModel}" class="ts-form custom-form" enctype="multipart/form-data" >
                        <section id="basic-information" class="" style="margin-bottom:1rem;">
                            <h3 class="border-bottom">Add new real estate offer</h3>
                            <div class="row">
                                <div class="col-sm-8 col-sm-8 col-md-8 col-lg-8">
                                    <div class="form-group alt">
                                        <label>Enquiry Type*</label>
                                        <div id="features-checkboxes">
                                            <div class="custom-checkboxes">
                                                <div class="custom-control custom-checkbox">
                                                    <input th:field="*{type}"
                                                            id="typeSale"
                                                           class="custom-control-input"
                                                           name="type"
                                                           type="radio"
                                                           th:value="SALE">
                                                    <label class="custom-control-label" for="typeSale">Sale</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input  th:field="*{type}"
                                                            id="typeRent" class="custom-control-input" name="typeRent" type="radio"
                                                           th:value="RENT">
                                                    <label class="custom-control-label" for="typeRent">Rental</label>
                                                </div>
                                                <small th:if="${noType}"
                                                       class="text-light form-text bg-danger rounded"
                                                       th:errors="*{type}">
                                                    Neshto gadno.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="category">Category*</label>
                                        <select th:errorclass="is-invalid"
                                                th:field="*{category}"
                                                class="custom-select ts-selected"
                                                id="category"
                                                style="width:100%"
                                                name="category"
                                                aria-invalid="false">
                                            <option value="" selected="selected">Select category</option>
                                            <option th:each="c : ${categories}"
                                                    th:value="${c}"
                                                    th:text="${c.name}"
                                                    th:selected="${c}==*{category}"
                                                    value="residential">Residential</option>
                                        </select>
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{category}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="city">City*</label>
                                        <select class="custom-select ts-selected"
                                                th:errorclass="is-invalid"
                                                th:field="*{city}"
                                                id="city"
                                                style="width:100%" name="city"
                                                aria-invalid="false">
                                            <option value="" selected="selected">Select city</option>
                                            <option th:each="c : ${cities}"
                                                    th:value="${c}"
                                                    th:text="${c.name}"
                                                    th:selected="${c}==*{city}"
                                                    value="apartment">City</option>
                                            </select>
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{city}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-sm-8 col-md-8 col-lg-8">
                                    <div class="input-group">
                                        <label for="address">Address</label>
                                        <input th:field="*{address}"
                                               th:errorclass="is-invalid"
                                               th:value="*{address}"
                                                class="form-control"
                                               placeholder="Addres in the city"
                                               name="livingArea"
                                               type="text"
                                               id="address">
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{address}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-4 col-md-4 col-lg-4">
                                    <div class="input-group">
                                        <label for="area">Living Area in sq.m.</label>
                                        <input  th:field="*{area}"
                                                th:errorclass="is-invalid"
                                                th:value="*{area}"
                                                class="form-control border-right-0"
                                                placeholder="Living Area in sq.m."
                                                name="area"
                                                type="text"
                                                id="area">
                                        <div class="input-group-append">
                                            <span class="input-group-text bg-white border-left-0">sq.m.</span>
                                        </div>
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{area}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-2 col-md-4 col-lg-2">
                                    <div class="input-group">
                                        <label for="rooms">Rooms</label>
                                        <input  th:field="*{rooms}"
                                                th:errorclass="is-invalid"
                                                th:value="*{rooms}"
                                                class="form-control"
                                                placeholder="Rooms#"
                                                name="rooms"
                                                type="text"
                                                id="rooms">
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{rooms}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-2 col-md-4 col-lg-2">
                                    <div class="input-group">
                                        <label for="floor">Floor</label>
                                        <input  th:field="*{floor}"
                                                th:errorclass="is-invalid"
                                                th:value="*{floor}"
                                                class="form-control"
                                                placeholder="Floor#"
                                                name="floor"
                                                type="text"
                                                id="floor">
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{floor}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-4 col-md-6 col-lg-4">
                                    <div class="input-group">
                                        <label for="price">Price</label>
                                        <input th:field="*{price}"
                                               th:value="*{price}"
                                               th:errorclass="is-invalid"
                                                class="form-control border-right-0" placeholder="Price" name="price" type="text" id="price">
                                        <div class="input-group-append">
                                            <span class="input-group-text bg-white border-left-0">€</span>
                                        </div>
                                        <small class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{price}">
                                            Neshto gadno.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea th:field="*{description}"
                                                       th:errorclass="is-invalid"
                                                       th:value="*{description}"
                                                       class="form-control"
                                                       placeholder="Description"
                                                          cols="50" rows="10"
                                                       type="text"
                                                          id="description"></textarea>
                                                <small class="invalid-feedback text-light form-text bg-danger rounded"
                                                       th:errors="*{description}">
                                                    Neshto gadno.
                                                </small>
                                            </div>
                                </div>
                                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                                    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label" for="files">Upload pictures:</label>
                                            <input type="file" class="form-control" id="files"
                                                   placeholder="Upload Images" name="files" multiple/>
                                            <small th:if="${noPictures}"
                                                   class="text-light form-text bg-danger rounded"
                                                   th:text="|You must select pictures!|">
                                                Neshto gadno.
                                            </small>
                                        </div>
                                        <button type="submit" class="btn btn-primary ts-btn-arrow btn-lg float-right"
                                                id="btnSubmit" name="button" value="add this form"
                                                onclick="this.form.submit(); this.disabled = true; this.value = 'Submitting the form';">Submit offer</button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </form>
                    <!--end #form-submit-->
                </section>
            </div>
            <!--end container-->
        </div>
        <div class="clearfix"></div>
    </div>
</main>
<footer th:replace="~{fragments/fragment::footer}">
</footer>
</body>
</html>