<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragment::head}">
    <title>Details offer</title>
</head>
<body>
<header th:replace="~{fragments/fragment::navbar}">
</header>
<main th:object="${offerModel}"  id="ts-main" style="margin-top: 116px;">

    <!--GALLERY CAROUSEL
     =========================================================================================================-->
    <section id="gallery-carousel" class="" style="margin-bottom:10px;">
        <div class="swiper-container ts-gallery-carousel ts-gallery-carousel__multi details-custom-slider swiper-container-initialized swiper-container-horizontal swiper-container-free-mode show"
             style="overflow: hidden">
            <div class="carousell__track">
                <div class="carousell__slide"
                     th:each="p : *{imgUrl}" style="margin-right: 20px;">
                    <div class="popup-image" style="display: block; position: relative" >
                        <img class="carousell__image" th:src="${p}" alt="">
                        <a th:href="${p}" class="ts-zoom">
                            <i class="fa fa-search-plus" style="margin:0;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousell__nav">
                <button th:each="p : *{imgUrl}"
                        class="carousel__indicator"></button>
            </div>
        </div>
    </section>

    <!--PAGE TITLE
     =========================================================================================================-->
    <section id="page-title" class="border-bottom ts-white-gradient">
        <div class="container">
            <div class="d-block d-sm-flex justify-content-between">

                <div class="ts-title mb-0">
                    <h1 th:text="|*{category.name} for *{type.name}|" style="font-size: 1.8rem;"></h1>
                    <h5 class="">
                        <i class="fa fa-map-marker text-primary"></i>
                        <span th:text="|*{city.name}, *{address}|"></span>
                    </h5>
                </div>
                <div>
                    <h3>
                            <span th:text="|€ *{price}|"
                                    class="badge badge-primary p-3 font-weight-normal ts-shadow__sm">
                            </span>
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <!--CONTENT
      =========================================================================================================-->
    <section id="content">
        <div class="container">
            <div class="row flex-wrap-reverse">

                <!--LEFT SIDE
                    =============================================================================================-->
                <div class="col-md-5 col-lg-4">

                    <!--CONTACT THE AGENT
                        =========================================================================================-->
                    <section class="contact-the-agent">
                        <div class="ts-box">
                            <!--Agent Image & Phone-->
                            <div class="ts-center__vertical mb-4">
                                <!--Image-->
                                <!--Phone contact-->
                                <figure class="mb-0">
                                    <h5 class="mb-0">MAKE AN INQUIRY ABOUT THE OFFER</h5>
                                </figure>
                            </div>
                            <form method="POST" th:action="@{/inquiries/add/{id}(id=${offerModel.id})}"
                                  th:object="${inquiryModel}"
                            accept-charset="UTF-8"
                                  id="visitEnquiry" class="ts-form">
                                <div class="form-group">
                                    <input class="form-control"
                                           th:errorclass="is-invalid"
                                           th:field="*{firstName}"
                                           placeholder="First Name (Optional)"
                                           name="firstName"
                                           type="text">
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           th:errors="*{firstName}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                           th:errorclass="is-invalid"
                                           th:field="*{lastName}"
                                           placeholder="Last Name *"
                                           name="lastName"
                                           type="text">
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           th:errors="*{lastName}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                           th:errorclass="is-invalid"
                                           th:field="*{phoneNumber}"
                                           placeholder="Telephone Number *"
                                           name="phoneNumber"
                                           type="text">
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           th:errors="*{phoneNumber}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                           th:errorclass="is-invalid"
                                           th:field="*{email}"
                                           placeholder="Email"
                                           name="email"
                                           type="email">
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           id="emailError"
                                           th:errors="*{email}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <select class="custom-select"
                                            th:errorclass="is-invalid"
                                            th:field="*{contactHour}"
                                            name="contactHours">
                                        <option selected="selected" value="">Contact Hours</option>
                                        <option th:each="c : ${contactHours}"
                                                th:value="${c}"
                                                th:text="${c}"
                                                th:selected="${c}==*{contactHour}"
                                                value="all">All</option>
                                    </select>
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           th:errors="*{contactHour}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control"
                                              th:errorclass="is-invalid"
                                              th:field="${inquiryModel.description}"
                                              placeholder="Message"
                                              name="messageText"
                                              cols="50" rows="10"></textarea>
                                    <small class="invalid-feedback text-light form-text bg-danger rounded"
                                           th:errors="${inquiryModel.description}">
                                        Neshto gadno.
                                    </small>
                                </div>
                                <div class="form-group clearfix mb-0">
                                    <button class="btn btn-primary float-right porperty-form-btn"
                                            type="submit" value="add this form"
                                            onclick="this.form.submit(); this.disabled = true; this.value = 'Submitting the form';">
                                        Contact us
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section id="submit-form">
                        <div class="ts-box">
                            <div class="ts-center__vertical mb-4">
                                <!--Comment-->
                                <figure class="mb-0">
                                    <h5 class="mb-0">Add a comment about the offer</h5>
                                </figure>
                            </div>
                            <form th:object="${comment}"
                                    method="POST" th:action="@{/comments/search/{id}(id=${offerModel.id})}"
                                 class="ts-form custom-form">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="textContent"></label>
                                        <textarea th:field="*{textContent}"
                                                  th:errorclass="is-invalid"
                                                  th:value="*{textContent}"
                                                  class="form-control"
                                                  id="textContent"
                                                  required minlength="5" maxlength="240"
                                                  aria-describedby="textContentHelpInline"
                                                  placeholder="Comment about the property" name="textContent" cols="50" rows="10"></textarea>
                                        <small th:if="${#fields.hasErrors('textContent')}"
                                               class="invalid-feedback text-light form-text bg-danger rounded"
                                               th:errors="*{textContent}">
                                            Neshto gadno.
                                        </small>
                                </div>
                                <div class="form-group clearfix mb-0">
                                    <div class="d-flex justify-content-center mt-4">
                                        <button class="btn btn-primary ts-btn-arrow btn-lg float-right"
                                                type="submit" value="add this form"
                                                onclick="this.form.submit(); this.disabled = true; this.value = 'Submitting the form';"
                                        >Add comment</button>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <!--end col-md-4-->

                <!--RIGHT SIDE
                   =============================================================================================-->
                <div class="col-md-7 col-lg-8">

                    <!--DESCRIPTION
                        =========================================================================================-->
                    <section id="description">
                        <p th:text="*{description}">
                        </p>
                        <p>This house description is based upon information supplied by the owner, or on behalf of the owner. These property particulars are produced in good faith and do not constitute or form part of any contract HOMER do not take any responsibility to the accuracy of the information contained in this document.
                        </p>
                        <dl class="ts-description-list__line mb-0 ">
                            <dt>ID:</dt>
                            <dd th:text="*{id}" class="border-bottom pb-2">1152768</dd>
                            <dt>Area:</dt>
                            <dd th:text="|*{area} m²|" class="border-bottom pb-2">71 m²</dd>
                            <dt>Price per m²</dt>
                            <dd th:text="|€ *{pricePerSqM}|" class="border-bottom pb-2">€ 4,225</dd>
                            <dt>City</dt>
                            <dd th:text="*{city.name}" class="border-bottom pb-2">Monastiraki (Athens)</dd>
                            <dt>Address</dt>
                            <dd th:text="*{address}" class="border-bottom pb-2">Residential zone</dd>
                            <dt>Rooms</dt>
                            <dd th:text="*{rooms}==null ? 'n/a' : *{rooms}" class="border-bottom pb-2">1</dd>
                            <dt>Floor</dt>
                            <dd th:text="*{floor}==null ? 'n/a' : *{floor}" class="border-bottom pb-2">3rd</dd>
                            <dt>Visited</dt>
                            <dd th:text="*{visited}" class="border-bottom pb-2">3rd</dd>
                            <dt>Added by</dt>
                            <dd th:text="*{authorUsername}" class="border-bottom pb-2">3rd</dd>
                            <dt>Energy class</dt>
                            <dd class="border-bottom pb-2">
                                <div class="energy-container">
                                    <div class="energy energy-a" data-value="2">A</div>
                                </div>
                            </dd>
                            <dt>Published on</dt>
                            <dd th:text="*{createdOn.toLocalDate()}" class="border-bottom pb-2">19/03/2021</dd>
                        </dl>
                    </section>
                    <div class="form-group clearfix mb-0">
                        <div class="d-flex justify-content-center mt-4">
                            <a th:if="${#authentication.name}==*{authorUsername}"
                               th:href="@{/offers/edit/{id}(id=*{id})}" class="btn btn-primary ts-btn-arrow btn-lg float-right"
                               style="background-color: #1db3b8; color: #ffffff; border-color: #1db3b8; margin-right: 40px"
                               type="button">Edit offer</a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                                    th:href="@{/comments/delete/{id}(id=*{id})}" class="btn btn-primary ts-btn-arrow btn-lg float-right"
                                    style="background-color: #b21f2d; color: #f4f4f4; border-color: #b21f2d"
                               type="button">Delete offer</a>
                        </div>
                    </div>

                    <!--AMENITIES
=========================================================================================-->
                    <section id="comments">
                        <h3 th:unless="${commentsList.isEmpty()}">Comments</h3>
                        <div th:each="c : ${commentsList}" th:object="${c}" class="input-group mb-3">
                            <label th:text="|Added by *{authorUsername} on *{createdOn}|"></label>
                            <div th:text="*{textContent}"  id="comment"  type="text"
                                   class="form-control validate col-xl-12 col-lg-12 col-md-12 col-sm-12"
                            style="border-radius: 0.185rem">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
</main>
<footer th:replace="~{fragments/fragment::footer}">
</footer>
<script src="/js/newCarousel.js"></script>
</body>
</html>